<h2>Criteria</h2>
<p>
These are the requirements for languages listed on this site.
</p>
<ul>
	<li>The language must have a homepage/website</li>
	<li>The language must not be "popular"</li>
	<li>The language should be under active development (new code in the last year)</li>
	<li>The language should be freely available to download, preferably under an open license</li>
	<li>This site is for programming languages, not markup or natural languages</li>
</ul>

Here are some examples of items that indicate a language is "popular":
<ul>
	<li>
	It is listed on <a href="http://en.wikipedia.org/wiki/List_of_programming_languages">Wikipedia</a>
	<li>
	It has one or more books published about it
	</li>
	<li>
	There is a <a href="http://reddit.com/">subreddit</a> devoted to it
	</li>
	<li>
	It is on the popular language <a href="http://www.langpop.com/">list</a>
	</li>
</ul>

<p>
Please note that none of these rules are particularly strict. Feel welcome to list a language even if you are unsure of its suitability - it can always be removed by an administrator.
</p>
<h2>About this Site</h2>
<p>
This site exists to promote languages which are in development or have not yet reached a wider audience. This includes languages that do not ever intend to reach a wider audience, but are being developed for fun, learning, academdia or for no good reason at all.
</p>
<p>
As far as I am aware, there are pages for esoteric languages, joke languages, and all kinds of popular languages, but these generally discourage the sharing of languages that are just starting out. So, this page exists for people to share toy, hobbyist, and any fledgling languages people may be working on.
</p>
