<h2>Feedback</h2>
<p>
If you have comments about a specific language which is listed here, please leave them on the language's page.
</p>
<p>
If you would rather send an email, you may drop one to <a href="mailto:f&#108;&#108;&#64;&#112;&#114;&#101;&#115;&#105;&#100;ent&#98;&#101;&#101;&#102;.c&#111;&#109;">&#102;&#108;&#108;&#64;&#112;&#114;&#101;&#115;id&#101;&#110;&#116;&#98;&#101;&#101;&#102;&#46;&#99;&#111;m</a>.
</p>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/fll/embed.js"></script><noscript><a href="http://fll.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">Discussion powered by <span class="logo-disqus">Disqus</span></a>
