<h2>Welcome</h2>
<p>
This site provides a list of programming languages which are just starting out in the world. Feel free to <a href="/submit">submit</a> your own!
</p>
<h2>Fledgling Languages</h2>
<% unless @approved_langs.empty? %>
	<% @list = @approved_langs %>
	<%= erb(:list, :layout => false) %>
<% end %>
<% unless @unapproved_langs.empty? %>
	<h3>Unmoderated Entries</h3>
	<% @list = @unapproved_langs %>
	<%= erb(:list, :layout => false) %>
<% end %>
