<html>
	<head>
		<title>New Languages List</title>
		<meta type="keywords" value="programming languages,new languages,programming,language,toy languages,language list" />
		<meta type="description" value="A list of fledgling, toy, and hobbyist languages." />
		<link href="/css/style.css" media="all" rel="Stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="niftycube.js"></script>
		<script type="text/javascript">
			window.onload=function(){
				Nifty("div#content_border","big");
			}
		</script> 
	</head>
	<body>
		<div id="header">
			<a href="/"><img src="/images/logo.png" /></a>
		</div>
		<div class="content_border">
			<div id="navigation">
				<a href="/">List</a>
				<a href="/submit/">Submit</a>
				<a href="">Criteria</a>
				<a href="">Feedback</a>
			</div>

			<div class="content_right_border">
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
