<!DOCTYPE html>
<html>
	<head>
		<title>Fledgling Languages List</title>
		<meta name="keywords" content="fledgling languages list,programming languages,new languages,programming,language,toy languages,language list" />
		<meta name="description" content="A list of fledgling programming languages." />
		<link href="/css/style.css" media="all" rel="Stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.dropshadow.js"></script>
		<script type="text/javascript" src="/js/niftycube.js"></script>
		<script type="text/javascript" src="/js/fll.js"></script> 
	</head>
	<body>
		<div id="header">
			<a href="/"><img src="/images/logo.png" /></a>
		</div>
		<div id="navigation">
			<ul id="nav">
				<li><a href="/">List</a></li>
				<li><a href="/submit/">Submit</a></li>
				<li><a href="/criteria">Criteria</a></li>
				<li><a href="/feedback">Feedback</a></li>
			</ul>
		</div>
		<div class="content_border">
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
