<h1>Admin Login</h1>
  <form action="/login" method="post">
    <input id="user_email" name="email" size="30" type="text" />
    Username
    <br/>
    <input id="user_password" name="password" size="30" type="password" />
    Password
    <br/>
    <input value="login" type="submit" />
</form>
