<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<style>
	.label {
		text-align: right;
		padding-right: 10px;
	}
	.error {
		color: red;
	}
	label.error {
		padding-left: 10px;
		font-size: 12px;
	}
	span.optional {
		color: red;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#langform").validate()});

	$(function() {
		$('#langform').corner();
	});
</script>
<div class="submit_form">
	<form action="/submit/" method="post" id="langform">
		<table>
			<tr>
				<td class="label">Name</td>
				<td><input type="text" size="30" maxlength="40" name="lang_name" class="required" /></td>
			</tr>
			<tr>
				<td class="label">Homepage</td>
				<td><input type="text" size="30" maxlength="200" name="lang_url" class="required url" value="http://"/></td>
			</tr>
			<tr>
				<td class="label">Author(s)<span class="optional">*</span></td>
				<td><input type="text"  size="30" maxlength="80" name="lang_author" /></td>
			</tr>
			<tr>
				<td class="label">Summary</td>
				<td><input type="text" size="60"  maxlength="100" name="lang_summary" class="required" /></td>
			</tr>
			<tr valign="top">
				<td class="label">Description</td>
				<td><textarea rows="10" cols="69" maxlength="2000" name="lang_blurb" class="required"></textarea><br/><span class="optional">*</span><span style="font-size:12px">Not required</span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit Language" /></td>
			</tr>
		</table>
	</form>
</div>
