body {
	background: #efefef url('/images/bg.png') no-repeat top left ;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: #551a8b;
}

a:hover {
	text-decoration: underline;
}

#header {
	text-align: left;
	margin-left: 16%;
	margin-bottom: 0px;
}

#header img {
	border: none 0px;
}

#navigation {
	font-family: monospace;
	font-size: 14px;
	text-align: right;
	float: right;
	margin-right: 35px;
	margin-bottom: -5px;
}

#nav, #nav li{list-style-type:none;margin:0;padding:0px 0px 2px 0px}
#nav {margin-left: 100px;width:640px;}
#nav li {
  float:left;margin-right: 3px;text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#nav a{float:left;width: 7em;padding: 5px 0;background: white;text-decoration:none;color: #666}
#nav a:hover {background: white; color: #000;}

#content {
	padding: 10px;
	background: white;
}

.content_border {
	clear: both;
	margin-left: 15%;
	margin-right: 15%;
	padding: 0px;
	background-color: white;
	border: 1px solid black;
}

.lang_name {
	font-size: 24pt;
}

.lang_name a {
	font-weight: bold;
	margin-left: 8px;
	text-decoration: none;
}

.lang_name a:hover {
	text-decoration: underline;
}

.lang_author {
	margin-left: 8px;
	font-size: 14px;
}

.lang_url {
  margin-top: 15px;
}

.lang_summary {
	border-bottom: 1px dashed #9a957c;
	margin-bottom: 20px;
	font-size: 14px;
	padding: 5px 3px 5px 8px;
	font-style: italic;
}

.notecard {
	border-top: 1px solid #d4ceab;
	border-left: 1px solid #bcb697;
	border-right: 1px solid #6d6958;
	border-bottom: 1px solid #6d6958;
	padding: 5px 8px 5px 8px;
	margin: 20px 8px 15px 8px;
	background-color: #fff7ce;
}

.not_moderated {
	font-size: 13px;
	font-style: italic;
}

.lang_modified {
	margin-top: 8px;
	border-top: 1px dashed #9a957c;
	font-size: 13px;
	font-style: italic;
}

.lang_item, .lang_item_first {
	padding: 10px 5px 10px 5px;
}

.lang_item {
	border-top: 1px dashed #6d6958;
}

.lang_item_name {
	font-weight: bold;
	padding-right: 10px;
}

.lang_author {
	margin-left: 12px;
}

.submit_form {
	margin-right: 10%;
	margin-left: 10%;
}

#langform {
	background-color: #fff7ce;
	padding: 15px;
	margin: 2px;
}

h2 {
	color: #6a6a6a;
	font-family: sans-serif;
	font-size: 20px;
	border-bottom: 1px dashed #9a957c;
}

.label {
	text-align: right;
	padding-right: 10px;
}

.error {
	color: red;
}

label.error {
	padding-left: 10px;
	font-size: 12px;
}

#captcha-answer {
	width: 128px;
}

.lang_blurb h2{border:0px none;}
.lang_blurb h1{font-size:170%!important;border-top:2px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.lang_blurb h1:first-child {margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.lang_blurb h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.lang_blurb h3{margin-top:1em!important;}
.lang_blurb p{margin:1em 0!important;line-height:1.5em!important;}
.lang_blurb ul{margin:1em 0 1em 1.3em!important;}
.lang_blurb ul{margin-top:0!important;margin-bottom:0!important;}
.lang_blurb ol{margin:1em 0 1em 1.5em!important;}
.lang_blurb ol ol{margin-top:0!important;margin-bottom:0!important;}
.lang_blurb blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
.lang_blurb dt{font-weight:bold!important;margin-left:1em!important;}
.lang_blurb dd{margin-left:2em!important;margin-bottom:1em!important;}
.lang_blurb table{margin:1em 0!important;}
.lang_blurb th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
.lang_blurb td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
.lang_blurb pre{margin:1em 0!important;font-size:90%!important;background-color:#ffffff!important;border:1px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
.lang_blurb pre code{padding:0!important;font-size:100%!important;background-color:#ffffff!important;border:none!important;}
.lang_blurb code{font-size:90%!important;background-color:#ffffff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
.lang_blurb .console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.lang_blurb .console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
.lang_blurb .console span{color:#888!important;}
.lang_blurb .console span.command{color:yellow!important;}

.lang_example pre{margin:1em 0!important;font-size:90%!important;background-color:#000!important;border:4px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:rgb(248, 248, 248)!important;overflow:auto!important;}
.lang_example pre code{padding:0!important;font-size:100%!important;background-color:#000!important;border:none!important;}
.lang_example code{font-size:90%!important;background-color:#000!important;color:rgb(248, 248, 248)!important;padding:0 .2em!important;border:1px solid #dedede!important;}
  

.comment_jump {
	float: right;
	font-size: 9pt;
	margin-right: 8px;
}

#comment_link {
	margin: 10px 0px 10px 8px;
}

#disqus {
	margin-left: 8px;
}

.inactive {
	border: 2px solid red;
	font-size: medium;
	margin: 10px 8px;
	padding: 3px;
	text-align: center;
}
